// FONTS
$color_white: #ffffff;
$color_black: #000000;
$color_orange:#ffc300;
$color_gray_light: #dad6d3;
$color_gray_middle: #757575;
$color_gray_dark: #2b2620;


// FONTS
$font_family_base: 'Open Sans', sans-serif;
$font_family_title: "Segoe UI", sans-serif;

